.suppliers
  %h2
    Suppliers

  %ul
    %li.supplier
      %p.logo
        %a
          %img{:src => "/images/pages/suppliers/balay.jpg", :alt => "Balay Indang", :title => "Balay Indang"}
      .details
        %h4 Balay Indang
        %address
          88 Balay Indang, Mahabang Kahoy,
          %br
          Cerca, Indang, Cavite
          %br
          Marge Tan: +63 (917) 866 5825 | Joy: +63 (917) 837 4261
        %p.description
          Balay Indang was the very first supplier we (unofficially) booked. This was also the place where we got engaged and the night after the proposal, we were already planning that booking Balay Indang as the reception was non-negotiable. We love everything about Balay Indang: the food, service, our room(Eve), and the ambience. The meals are "refillable" and the courteous staff are always smiling, making you feel like you're at home.

    %li.supplier
      %p.logo
        %a{:href => "http://jasonangcao.com"}
          %img{:src => "/images/pages/suppliers/nosaj-logo.jpg", :title => "Nosaj Photography", :alt => "Nosaj Photography"}
      .details
        %h4 Jason Angcao
        %address
          %a{:href => "http://jasonangcao.com"} http://jasonangcao.com
          %span.email-link= "info@jasonangcao.com".reverse
          |
          %span.email-link= "jason.angcao@gmail.com".reverse
          %br
          Mobile: +63 (915) 115 1885 | Landline: +63 (046) 483 0548
        %p.description
          Jason is a very enthusiastic person and photography really is his passion. He is very humble(we've encountered photographers that boast about how long they've already been in the industry -- who cares?!) and he has great talent in making those "vintage" shots. We always look forward to his prenup works as they are just amazing. All these plus no OOT fee(he resides in Amadeo) and a cheap professional fee makes Jason the perfect photographer not just for Tagaytay weddings but for ANY wedding(or occassion for that matter).

    %li.supplier
      %p.logo
        %a{:href => "http://digitalshots.biz/"}
          %img{:src => "/images/pages/suppliers/arvin-and-maru.jpg", :title => "Digital Shots - Arvin and Maru", :alt => "Digital Shots - Arvin and Maru"}
      .details
        %h4 Digital Shots
        %address
          %a{:href => "http://digitalshots.biz/"} http://digitalshots.biz
          Suite 302 VRL Building # 76 N.S. Amoranto (formerly Retiro St.), Laloma, Quezon City
          %br
          %span.email-link= "digital_shots11@yahoo.com".reverse
          |
          %span.email-link= "arvin@digitalshots.biz".reverse
          %br
          Mobile: +63 (915) 936 4343 | +63 (917) 810 4343 | +63 (922) 752 6402
        %p.description
          Like Jason, Arvin and Maru are very easy to talk to, plus they're also very humble. They yearn to give you a personalized video - this means no "formula" and no clichéd shots. In our first meeting(the day we booked them), we talked for more than three hours just because we had so many things to talk about(the actual meeting was probably just less than an hour). Arvin correctly visualized what we wanted to do in our prenup and even had great suggestions for extra shots.

    %li.supplier
      %p.logo
        %a{:href => "http://jeffhouseoffashion.multiply.com/"}
          %img{:src => "/images/pages/suppliers/jeffshouse.jpg", :title => "Jeff's House of Fashion", :alt => "Jeff's House of Fashion"}
      .details
        %h4 Jeff's House of Fashion
        %address
          %a{:href => "http://jeffhouseoffashion.multiply.com/"} http://jeffhouseoffashion.multiply.com
          %span.email-link= "jhoanna_ong@yahoo.com".reverse
          %br
          Mobile: Jhoanna Ong +63 (908) 111 5624
        %p.description
          Tito Jeff does not design per se, but he does great impressions of designs if you have samples. Because of this, there's no charge for creativity and designing so his gowns are as cheap as could be. Most brides usually ask him to do their entourage but some(like us) got him to do all including the wedding gown. As with almost all our suppliers, Tito Jeff and his neice, Anna, are great conversationalists. My sister was the one who referred them to us and most of her friends. My college friend also booked them so we actually knew a LOT of people in common, making for some great conversations.

    %li.supplier
      %p.logo
        %a{:href => "http://www.facebook.com/KissTheGirlEvents"}
          %img{:src => "/images/pages/suppliers/kissthegirl.jpg", :title => "Kiss The Girl Events", :alt => "Kiss The Girl Events"}
      .details
        %h4 Kiss The Girl Events
        %address
          %a{:href => "http://www.facebook.com/KissTheGirlEvents"} http://www.facebook.com/KissTheGirlEvents
          Las Pi&ntilde;as, Metro Manila
          %br
          %span.email-link= "kissthegirlevents@gmail.com".reverse
          %br
          Mobile: +63 (927) 589 4642 | +63 (922) 837 3622 | Landline: +63 (02) 697 8252
        %p.description
          A fairly new group, Kiss The Girl Events was co-founded by one of Sef's colleagues in her former office. Because of that, we already have a great rapport and even if we only booked them for the day itself, Arbee has been a great help to us(since she's excited like that) to the point that it's almost like we booked her for the whole preparation.

    %li.supplier
      %p.logo
        %a{:href => "http://www.ochielaraya.com/"}
          %img{:src => "/images/pages/suppliers/ochielaraya.jpg", :title => "Ochia Laraya Hair and Makeup Artistry", :alt => "Ochia Laraya Hair and Makeup Artistry"}
      .details
        %h4 Ochie Laraya
        %address
          %a{:href => "http://www.ochielaraya.com/"} http://www.ochielaraya.com/
          26 Greenland Circle, Greenland Subdivision, 1116, Pasig City
          %br
          %span.email-link= "ochielaraya@yahoo.com".reverse
          %br
          Mobile: +63 (918) 9485728
        %p.description
          No write up yet

    %li.supplier
      %p.logo
        %a{:href => "http://www.kayceelim.com"}
          %img{:src => "/images/pages/suppliers/kayceelim.jpg", :title => "Kaycee Lim Makeup", :alt => "Kaycee Lim Makeup"}
      .details
        %h4 Kaycee Lim
        %address
          %a{:href => "http://www.kayceelim.com"} http://www.kayceelim.com
          Gen. Segundo St., Quezon City, Philippines
          %br
          %span.email-link= "makeup@kayceelim.com".reverse
          %br
          Mobile: +63 (922) 859 2326
        %p.description
          No write up yet

    %li.supplier
      %p.logo
        %a{:href => "#"}
          %img{:src => "/images/pages/suppliers/lourdes.jpg", :title => "Our Lady of Lourdes Parish Church", :alt => "Our Lady of Lourdes Parish Church"}
      .details
        %h4 Our Lady of Lourdes Parish Church
        %address
          Our Lady of Lourdes Parish Church, Tagaytay City
        %p.description
          No write up yet

    %li.supplier
      %p.logo
        %a{:href => "http://www.facebook.com/pages/Stohnenky-Pro-Sounds-and-Lights-bright-lights-clear-music/165330030153527?sk=info"}
          %img{:src => "/images/pages/suppliers/stohnenky.jpg", :title => "Stohnenky Pro Sounds and Lights", :alt => "Stohnenky Pro Sounds and Lights"}
      .details
        %h4 Stohnenky Pro Sounds and Lights
        %address
          %a{:href => "http://www.facebook.com/pages/Stohnenky-Pro-Sounds-and-Lights-bright-lights-clear-music/165330030153527?sk=info"} http://www.facebook.com/pages/Stohnenky-Pro-Sounds-and-Lights-bright-lights-clear-music/165330030153527?sk=info
          417 Kaybagal Central, 4120 Tagaytay City
          %br
          %span.email-link= "sounds.lights@yahoo.com.ph".reverse
          %br
          Mobile: +63 (919) 676 7784 | +63 (916) 510 1291 | Landline: (046) 413 2624
        %p.description
          No write up yet

    %li.supplier
      %p.logo
        %a{:href => "http://www.photographico.com/photobooth.html"}
          %img{:src => "/images/pages/suppliers/photographico.jpg", :title => "Gerinomo Photographico Photobooth", :alt => "Gerinomo Photographico Photobooth"}
      .details
        %h4 Geronimo Photographico Photobooth
        %address
          %a{:href => "http://www.photographico.com/photobooth.html"} http://www.photographico.com/photobooth.html
          %span.email-link= "support@photographico.com".reverse
          %br
          Mobile: +63 (917) 819 1414 | Landline: (02) 355 2739
        %p.description
          No write up yet

    %li.supplier
      %p.logo
        %a{:href => "http://allcakedup.multiply.com"}
          %img{:src => "/images/pages/suppliers/allcakedup.png", :title => "All Caked Up by olive", :alt => "All Caked Up by olive"}
      .details
        %h4 All Caked Up by olive
        %address
          %a{:href => "http://allcakedup.multiply.com"} http://allcakedup.multiply.com
          San Juan, Metro Manila
          %br
          %span.email-link= "allcakedup@hotmail.com".reverse
        %p.description
          No write up yet



