<!doctype html>
%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Vidaloka|Abril+Fatface|Alice", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/index.xml", :rel => "alternate", :title => "#{title} - atom feed", :type => "application/atom+xml"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= title
  %body
    %header
      %h1
        %a{:href => "/"}= @config[:title]
      %h3.sub-title
        the wedding blog for #{@config[:author]}
    %nav
      %ul
        %li
          %a{:href => "/"} home
        %li
          %a{:href => "/index.xml"} feed
        -#%li disable first, not working
        -#  %a{:href => "/archives"} archives
        %li
          %a{:href => "/about"} about
        %li
          %a{:href => "/suppliers"} suppliers
    %section#content
      = yield
    %footer#footer
      powered by
      %a{:href => "http://github.com/dreamr/ruby-slippers"} ruby-slippers
